.disc {
  position: absolute;
  z-index: 2;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
}

.is-lost {
  visibility: hidden;
  opacity: 0;
}

.disc-a {
  background: #dc3545;
}

.disc-b {
  background: #2c3e50;
}

.disc-sample-a,
.disc-sample-b {
  position: relative;
  width: 15px;
  height: 15px;
}
