.dock {
  position: absolute;
  z-index: 1;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
}

  .dock__drop {
    position: absolute;
    top: -50px;
    left: -50px;
    width: 100px;
    height: 100px;
  }

.dock-00 { top: -1px; left: -2px; }
.dock-01 { top: -1px; left: 97px; }
.dock-02 { top: -1px; left: 196px; }
.dock-03 { top: -1px; left: 295px; }
.dock-04 { top: -1px; left: 394px; }
.dock-10 { top: 97px; left: -1px; }
.dock-11 { top: 97px; left: 97px; }
.dock-12 { top: 97px; left: 196px; }
.dock-13 { top: 97px; left: 295px; }
.dock-14 { top: 97px; left: 394px; }
.dock-20 { top: 196px; left: -1px; }
.dock-21 { top: 196px; left: 97px; }
.dock-22 { top: 196px; left: 196px; }
.dock-23 { top: 196px; left: 295px; }
.dock-24 { top: 196px; left: 394px; }
.dock-30 { top: 295px; left: -1px; }
.dock-31 { top: 295px; left: 97px; }
.dock-32 { top: 295px; left: 196px; }
.dock-33 { top: 295px; left: 295px; }
.dock-34 { top: 295px; left: 394px; }
.dock-40 { top: 394px; left: -1px; }
.dock-41 { top: 394px; left: 97px; }
.dock-42 { top: 394px; left: 196px; }
.dock-43 { top: 394px; left: 295px; }
.dock-44 { top: 394px; left: 394px; }

