.dock {
  position: absolute;
  z-index: 1;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
}

.reveal-ripple {
  position: absolute;
  top: -11px;
  left: -11px;
  width: 32px;
  height: 32px;
  visibility: hidden;
  background-color: #cf0;
  border-radius: 50%;
  transform: scale(.125);
}

  .is-next-a-move,
  .is-next-b-move {
    cursor: pointer;
    background-color: #cf0;
    animation-name: bounceIn;

    .reveal-ripple {
      z-index: 1;
      visibility: visible;
      opacity: 0;
      transition: visibility 320ms, opacity 240ms 80ms ease-out,transform 320ms ease-out;
      transform: scale(1);
    }
  }

  .dock__drop {
    position: absolute;
    top: -46px;
    left: -46px;
    width: 100px;
    height: 100px;
  }

.dock-0\:0 { top: -4px; left: -5px; }
.dock-0\:1 { top: -4px; left: 94px; }
.dock-0\:2 { top: -4px; left: 193px; }
.dock-0\:3 { top: -4px; left: 292px; }
.dock-0\:4 { top: -4px; left: 391px; }
.dock-1\:0 { top: 94px; left: -5px; }
.dock-1\:1 { top: 94px; left: 94px; }
.dock-1\:2 { top: 94px; left: 193px; }
.dock-1\:3 { top: 94px; left: 292px; }
.dock-1\:4 { top: 94px; left: 391px; }
.dock-2\:0 { top: 193px; left: -5px; }
.dock-2\:1 { top: 193px; left: 94px; }
.dock-2\:2 { top: 193px; left: 193px; }
.dock-2\:3 { top: 193px; left: 292px; }
.dock-2\:4 { top: 193px; left: 391px; }
.dock-3\:0 { top: 292px; left: -5px; }
.dock-3\:1 { top: 292px; left: 94px; }
.dock-3\:2 { top: 292px; left: 193px; }
.dock-3\:3 { top: 292px; left: 292px; }
.dock-3\:4 { top: 292px; left: 391px; }
.dock-4\:0 { top: 391px; left: -5px; }
.dock-4\:1 { top: 391px; left: 94px; }
.dock-4\:2 { top: 391px; left: 193px; }
.dock-4\:3 { top: 391px; left: 292px; }
.dock-4\:4 { top: 391px; left: 391px; }
