$border-width: 1px;

.game-guide {
  margin-bottom: 16px;
  font-size: 18px;
  color: #fff;
  text-align: left;

  a {
    font-weight: bold;
    color: #fff;
    text-decoration: underline;
  }
}

.board-container {
  position: relative;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
}

.square {
  position: absolute;
  top: 58px;
  left: 58px;
  width: 281px;
  height: 281px;
  border: $border-width solid #fff;
  transform: rotate(45deg);
}

// .line__1 {
//   position: absolute;
//   top: 58px;
//   bottom: 0;
//   border: 1px solid #fff;
//   transform: rotate(45deg);
// }

.board__table {
  position: relative;
  width: 400px;
  margin: 0 auto;

  &::after,
  &::before {
    position: absolute;
    top: 0;
    width: 560px;
    content: "";
    border-top: $border-width solid #fff;
    transform-origin: 0% 0%;
  }

  &::after {
    left: 1px;
    transform: rotate(45deg);
  }

  &::before {
    left: 398px;
    transform: rotate(135deg);
  }
}

  .board__frame {
    padding-bottom: 30px;
    overflow: hidden;
  }

  .board__col {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: -$border-width;
    margin-bottom: -$border-width;
    border: $border-width solid #fff;
  }
